body {
    background-color :#b5c5bb;
}


h1{
    color:rgb(9, 90, 63) ;
}

h3{
    color: rgb(63, 131, 108);
}
h2{
    color:rgb(42, 121, 95);
}
hr{
    background-color: rgb(177, 199, 199);
    border-style: none;
    border-top-style :dotted;
    
    border-width: 5px;
    width :50px;
}

